<% provide(:title, "q1")%>
<h1>速度算 確認問題1</h1>
<p>速さ、距離、時間の関係を表す式はどれか。</p>

<ol>
  <li>速さ＝距離÷時間</li>
  <li>速さ＝時間÷距離</li>
  <li>速さ＝距離×時間</li>
</ol>

<p>答え：速さ＝距離÷時間</p>
<%= link_to "速度算Top", :velocity %>
