@import "bootstrap-sprockets";
@import "bootstrap";

body {
     padding-top: 60px;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#in_out {
  float: left;
  margin-right: 10px;
  font-size: 1.1em;
  color: #2ECCFA;
  letter-spacing: -1px;
  padding-top: 18px;
  font-weight: bold;
}
#in_out:hover {
  color: #2ECCFA;
  text-decoration: none;
}

/* 問題番号 */
ol{
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0;

}
ol li{
  position: relative;
  padding: 0.5em;
  line-height: 1.5em;
  background: #f1f8ff;
  border-left : solid 35px #5c9ee7;
  margin-bottom: 5px;
  /* font */
  font-weight: bold;
}
ol li a {
  color: black;
  font-size: 15px;
}
ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  top: 50%;
  -moz-transform: translateY(-50%);
  		  -webkit-transform: translateY(-50%);
  		  -o-transform: translateY(-50%);
  		  -ms-transform: translateY(-50%);
  		  transform: translateY(-50%);
  left: -35px;
  width: 35px;
  height: 1em;
  line-height: 1;
  text-align:center;
}

/* 問題ジャンル */
ul {
  padding: 0;
  position: relative;
}

ul li{
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
  line-height: 1.5;
  	       padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  /* font */
  font-weight: bold;
  
}

ul li a {
  color: black;
  font-size: 15px;
}

/* タイトル見だし h1*/

h1 {
position: relative;
color: #158b2b;
font-size: 30px;
padding: 10px 0;
text-align: center;
margin: 1.5em 0;
}
h1:before {
content: "";
position: absolute;
top: -13px;
left: 50%;
width: 210px;
height: 80px;
border-radius: 50%;
border: 5px solid #a6ddb0;
border-left-color: transparent;
border-right-color: transparent;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}

/* ジャンル見出し h2*/
h2 {

padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
color: #494949;/*文字色*/
background: #f4f4f4;/*背景色*/
border-left: solid 5px #7db4e6;/*左線*/
border-bottom: solid 3px #d7d7d7;/*下線*/


}

/*対策確認 h3*/

h3 {
position: relative;
padding-left: 25px;
}

h3:before {
position: absolute;
content: '';
bottom: -3px;
left: 0;
width: 0;
height: 0;
border: none;
border-left: solid 15px transparent;
border-bottom: solid 15px rgb(119, 195, 223);
}
h3:after {
position: absolute;
content: '';
bottom: -3px;
left: 10px;
width: 100%;
border-bottom: solid 3px rgb(119, 195, 223);
}
/* 問題 */
p.question {
font-size: 20px;
}
/* 選択肢 */
tbody td {
  font-weight: bold;
  font-size: 14px;
}
/* 正解不正解 */
p.ans_yes {
  font-size: 35px;
  color: red;
  font-weight: bold;
}
p.ans_no {
  font-size: 35px;
  color: blue;
  font-weight: bold;
}

/*答え*/
span.ans {
  font-size: 20px;
  border-bottom: solid 3px #FF4500;
  color: #FF4500;
}
span.show_ans {
  font-size: 20px;
  font-weight: bold;
}

/* 解説 */
p.kaisetu{
font-size: 20px;
font-weight: bold;
color: #505050;/*文字色*/
padding: 0.5em;/*文字周りの余白*/
display: inline-block;/*おまじない*/
line-height: 1.3;/*行高*/
background: #dbebf8;/*背景色*/


vertical-align: middle;/*上下中央*/
border-radius: 25px 10px 10px 25px;/*左側の角を丸く*/
}

p.kaisetu:before {
content: '●';
color: white;
margin-right: 8px;
}

/* リンクボタン*/
.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
  }

.square_btn:hover {
    background: #1ec7bb;
}

/*ボタンを横に並べる*/
.i_b {
display: inline-block;
}

/*リンクの下線消す*/
a {
 text-decoration: none;
}
a:hover {
  text-decoration: none;
}