<table class="table table-bordered" v-bind:class="{'table-hover': !show}">
  <thead>
    <tr><th>選択肢</th></tr>
  </thead>
  <tbody>
    <tr v-on:click="updateAns(<%= q_num %>,$event)" v-for="(choice, index) in choices">
      <td>{{ choice }}</td>
    </tr>
  </tbody>
</table>

<p v-if="flag" v-show="show" class="ans_yes" v-cloak>正解!!</p>
<p v-else v-show="show" class="ans_no" v-cloak>不正解</p>
<div v-show="show" v-cloak>
<span class="show_ans">答え：</span><span id="answer" class="ans"><%= ans %></span>
<br><br>
<p class="kaisetu">解説</p>
